Package: zlib1g-udeb
Source: zlib
Version: 1:1.2.7.dfsg-13+rptest+gcc-4.6+-Os
Architecture: armhf
Maintainer: Mark Brown <broonie@debian.org>
Installed-Size: 94
Section: debian-installer
Priority: optional
Description: compression library - runtime for Debian installer
 zlib is a library implementing the deflate compression method found
 in gzip and PKZIP.  This minimal package includes the shared library
 for use with the Debian installer.
